.header-text{
   color: rgb(0, 0, 0);
   font: 100px;
}
.red{
    color: brown;
    font: 100;
}
.button{
    padding: 5px;
    border-radius: 2px;

}
.button-suc{
    background-color: aqua;
    color: antiquewhite;
}
.container-fluid{
    background-color: rgba(29, 152, 201, 0.795);
}
.center-left{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
}
